.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  box-sizing: border-box;
  padding-bottom: 20px;

  @media (min-width: 768px) {
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    gap: 15px;
  }
}

.card-box {
  background: white;
  border-radius: 10px;
  width: 70%;

  @media (min-width: 768px) {
    background: none;
  }
}

.shop-image {
  width: 200px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
  cursor: pointer;
}

.card-container .open-window {
  z-index: 1;
  width: 300px;
  height: 300px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
  opacity: 1; /* Initially visible */
  pointer-events: auto; /* Enable pointer events initially */

  @media (min-width: 768px) {
    width: 400px;
    height: 400px;
  }
}

.closed-window {
  display: none;
}

.open-window .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.hide-button {
  display: none;
}
