.card-container {
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;

  @media (min-width: 768px) {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 15px;
  }
}

.shop-image {
  width: 200px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.3);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}

.card-container .open-window {
  z-index: 1;
  width: 300px;
  height: 300px;
  background: white;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%) scale(1);
  transition: all 1s ease;
  opacity: 1;
  /* Initially visible */
  pointer-events: auto;
  /* Enable pointer events initially */

  @media (min-width: 768px) {
    width: 400px;
    height: 400px;
  }
}

.closed-window {
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.5);
  /* Adjust scale as needed */
  transition: all 1s ease;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
}